.detalle {
    display: flex;
    flex-direction: column;
}

.detalle-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.detalle-header-texto {
    margin-left: 30px;
    font-size: 26px;
    font-weight: 500;

}

.detalle-header-texto p{
    margin-top: 0;
    margin-bottom: 10px;
}


.detalle-header-texto p:nth-child(1){
    font-size: 32px;
}

.episodios-grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.loading {
    display: flex;
    font-size: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;
    color: dimgray;
    width: 95vw;
    height: 100vh;
}

.containerDetails{
    text-align: center;
}

.containerDetails h3{
    color: #000;
    font-size: 1.5rem;
}

.containerDetails a{
    text-decoration: none;
    color: rgb(98, 74, 238);
    font-weight: 500;
    font-style: oblique;
    font-size: 1.2rem;
}

.containerDetails a:hover{
    color: rgb(78, 163, 184);
    font-size: 1.3rem;
}
